<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "org/apache/log4j/xml/log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value = "%d %-5p - [%t]%C||%m%n"/>
                <!--value="%p - %C{1}.%M(%L) | %m%n"/>-->
        </layout>
    </appender>

	 <appender name="FILEAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
	   <param name="datePattern" value="yyyy-MM-dd-HH-mm"/>
	   <param name="file" value="../../LOG/batch/C10/c10_Batch.log"/>
	   <layout class="org.apache.log4j.PatternLayout">
	     <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss, SSS}] %-6p [%t] - %C{1}.%M(%L) | %m%n"/>
	   </layout>
	 </appender> 

    <logger name="org.apache">
        <level value="warn"/>
    </logger>

    <logger name="org.springframework">
        <level value="warn"/>
    </logger>

    <logger name="com.posdata">
        <level value="debug"/>
    </logger>
    
    <logger name="com.unionsteel">
        <level value="debug"/>
    </logger>

    <logger name="org.acegisecurity">
        <level value="warn"/>
    </logger>

    <root>
        <level value="info"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILEAPPENDER"/>
    </root>
</log4j:configuration>